#ifndef __GIU_ELEMENTS__
#define __GIU_ELEMENTS__

#include <SDL2/SDL.h>
#include <SDL2/SDL_rect.h>
#include <SDL2/SDL_render.h>
#include <SDL2/SDL_ttf.h>

#include <cstdint>
#include <string>

SDL_Renderer* main_ren = nullptr;

class Button {
   private:
    SDL_Rect rect;
    std::string name;

   public:
    Button(const int& x, const int& y, const int& width, const int& height, const std::string& name) : name(name) {
        this->rect = {x, y, width, height};
    };
};

#endif  // __GIU_ELEMENTS__
